body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background-color: #3e8e41;
  }
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #3e8e41;
  }
  #result {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: none;
  }